* {
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none
    /* Firefox */
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./components/img/bg.svg);
  background-repeat: no-repeat;
  background-position: right;
}

::-webkit-scrollbar {
  /* Webkit */
  width: 0;
  /* ширина scrollbar'a */
  background: transparent
    /* опционально */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper-nav-slide {
  display: flex;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: 0;
  word-wrap: anywhere;
}

.content-container {
  min-height: 100vh;
  margin-top: 76px;
  padding-bottom: 108px;
}

::-webkit-scrollbar {
  width: 0;
}

::-moz-scrollbar {
  width: 0px;
}



button {
  cursor: pointer;
  border: 0;
}

.content-container-teamplatesPages {
  max-width: 1008px;
  margin: 0 auto;
  height: auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
}


/* Шаблоны */

.teamplate-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 110px 120px;
  max-width: 1008px;
  margin: 0 auto;
}



.card-main-wrapper.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  height: 100%;
  margin-left: 77px;
  text-align: left;
  margin-top: unset;
}

.card-main.main {
  width: 1008px;
  height: auto;
  max-height: 550px;
  background: #FFFFFF;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.card-main__title.main {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 40px;
  color: #000000;
  margin-top: 78px;
}

.card-main__text.main {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
  max-width: 540px;
  grid-column-start: 1;
}

.card-main__btn.main {
  width: 309px;
  height: 67.55px;
  background: #FFFFFF;
  box-shadow: 3.67117px 3.67117px 18.3559px rgba(0, 0, 0, 0.1);
  border-radius: 29.3694px;
  border: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  grid-column-start: 2;
  grid-row: 2;
  margin-top: 23px;
  margin-left: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-main {
  width: 444px;
  background: #FFFFFF;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto!important;
  padding-bottom: 43px;
}

.card-main-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  text-align: left;
}

.card-main__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 40px;
  color: #000000;
}

.card-main__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 19px;
  color: #000000;
  max-width: 307px;
}

.card-main-wrapper {
  margin-top: 66px;
  margin-left: 67px;
  display: flex;
  flex-direction: column;
}

.card-main__btn {
  margin-top: 72px!important;
  width: 309px;
  height: 67.55px;
  box-shadow: 3.67117px 3.67117px 18.3559px rgba(0, 0, 0, 0.1);
  border-radius: 29.3694px;
  border: 0;
  background: #FFFFFF;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.card-main__btn.nonactive {
  display: none;
}

.teamplate-block {
  margin-top: 198px;
  padding-left: 76px;
  padding-bottom: 128px;
}





/* Новые шаблоны */

/* Основной заголовок страницы */
.title-main {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 57.6541px;
  line-height: 70px;
  color: #000000;
  text-align: left;
  margin-left: 206px;
}

/*Текстовый блок*/

/* Оболочка текствого блока */
.text-block-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  max-width: 444px;
  height: auto;
}

/* Заголовок текстового блока */
.text-block-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 45px;
}

/* Содержание(текст) тестового блока */
.text-block-contentText {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 20px;
}

.text-block-subContainer {
  display: flex;
  flex-direction: column;
}

/* <div className="text-block-wrapper">
                <h4 className="text-block-title">Хуй пизда залупа</h4>
                <span className="text-block-contentText">то текст, Какой-то текст, Какой-то текст, Какой-то текст, Какой-то текст, Какой-то текст, Какой-то текст, Какой-то текст, Какой-то текст, Какой-то текст, Какой-то текст, Какой-то текст, Какой-то текст, Какой-то текст, Какой-то текст, Какой-то текст, Какой-</span>
                </div> */

/* Стандартная карточка */

.teamplate-card-wrapper-content {
  width: 444px;
  height: auto;
  padding-bottom: 58px;
  background: #FFFFFF;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.teamplate-card-wrapper {
  margin-top: 66px;
  margin-left: 67px;
  display: flex;
  flex-direction: column;
}

.teamplate-card-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  text-align: left;
}

.teamplate-card__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 40px;
  color: #000000;
}

.teamplate-card__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 19px;
  color: #000000;
  width: 307px;
  display: block;
}


.teamplate-card__btn {
  margin-top: 112px;
  width: 309px;
  height: 67.55px;
  box-shadow: 3.67117px 3.67117px 18.3559px rgba(0, 0, 0, 0.1);
  border-radius: 29.3694px;
  border: 0;
  background: #FFFFFF;
}

/* <div className="teamplate-card-wrapper-content" >
                <div className="teamplate-card-wrapper">
                    <div className="teamplate-card-text-wrapper">
                        <h3 className="teamplate-card__title">fdsfdsfds</h3>
                        <span className="teamplate-card__text">sgfiohdsj;iogehspieruhgpwerhg[pwerhg[w4rhgpqwe49qw45ujw459[5rpw94r9po4i5w4po5ytwhj</span>
                    </div>
                    <button className="teamplate-card__btn">Перейти</button>
                </div></div > */

/* Карточка с тегом важно */

.teamplate-card-wrapper.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  height: 100%;
  margin-left: 77px;
  text-align: left;
  margin-top: unset;
}

.teamplate-card-wrapper-content.main {
  width: 1008px;
  height: auto;
  max-height: 550px;
  background: #FFFFFF;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding-bottom: unset;
}

.card-main__title.main {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 40px;
  color: #000000;
  margin-top: 78px;
}

.teamplate-card__text.main {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
  max-width: 540px;
  grid-column-start: 1;
}

.teamplate-card__btn.main {
  width: 309px;
  height: 67.55px;
  background: #FFFFFF;
  box-shadow: 3.67117px 3.67117px 18.3559px rgba(0, 0, 0, 0.1);
  border-radius: 29.3694px;
  border: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  grid-column-start: 2;
  grid-row: 2;
  margin-top: 23px;
  margin-left: 115px;
}

/* сыллка стандарт */
.teamplete-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #102CFC;
  max-width: 444px;
  margin-bottom: 23px;
}

.subTitleLink {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}