.slidebar-wrapper {
    height: 100%;
    width: 75px;
    position: fixed;
    background-color: #131313;
    z-index: 99999;
}

.slidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 9999;
}

.burgerBtn-wrapper {
    margin-top: 27px;
}

.social-btns-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 35px;
    width: 100%;
    align-items: center;
}

.vkBtn {
    margin-bottom: 21px;
}

.burgerBtn {
    cursor: pointer;
}

.menu-body-wrapper.active {
    position: fixed;
    height: 100vh;
    background-color: #131313;
    width: 480px;
    left: 0;
    top: 0;
    z-index: -1;
    transform: translateX(-100%);
    transition-delay: 0s;
}

.menu-body-wrapper {
    position: fixed;
    height: 100vh;
    background-color: #131313;
    width: 480px;
    left: 0;
    top: 0;
    z-index: -1;
    transform: translateX(0);
    transition: all .5s ease-in-out;
    transition-delay: 0s;
    overflow-y: auto;

}

.menu-list__elTitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15.4286px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
    list-style-type: none;
}

.mobile-menu-list__elTitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    cursor: pointer;
    padding-left: 59px;
    display: flex;
    align-items: center;
    width: max-content;
    display: flex;
    width: 100%;
    padding-right: 37px;
    justify-content: space-between;
    max-width: 503px;
    list-style-type: none;
}

.arrowDonwBtn {
    margin-right: 13px;
    transition: all 0.5s;
}

.arrowDonwBtn.active {
    transform: rotate(-90deg);
    transition: all 0.5s;
}

.menu-body-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 999;
}

.menu-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin-top: 8rem;
}

.menu-list__el {
    margin-bottom: 84px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mobile-menu-list__el {
    padding-bottom: 84px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.menu-sublist__elTitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15.4286px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 56px;
    margin-left: 36px;
    max-width: 275px;
    text-align: left;
    position: relative;
    list-style-type: none;
}




.menu-sublist__el {
    display: none;
}

.menu-sublist__el.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 54px;
    position: relative;
    max-width: 254px;
}

.menu-sublist__el.active::after {
    content: "";
    position: absolute;
    width: 1px;
    height: calc(100% - 63px);
    display: block;
    background-color: #5C5C5C;
}

.menu-sublist__elTitle::after {
    display: block;
    content: "";
    height: 1px;
    background-color: #5C5C5C;
    position: absolute;
    width: 24px;
    left: -35px;
    top: 10px;
    list-style-type: none;
}





/* mobile */
.mobile-menu-list__el.active {
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: 88px;
    height: 100%;
}

.mobile-menu-list__elTitle.active {
    display: flex;
    width: 100%;
    height: 75px;
    background: linear-gradient(93.38deg, #102CFC 5.04%, #7C00FF 67.59%);
    color: #FFFFFF;
    align-items: center;
    padding-left: 37px;
    height: auto;
    padding: 28px;
    margin-left: 0px;
    max-width: unset;
    justify-content: unset;
    margin-bottom: 62px;
    list-style-type: none;
}

.mobile-menu-sublist__elTitle.active {
    margin-top: 62px;
    height: auto;
    padding: 28px;
    margin-left: 0px;
    list-style-type: none;
}

.mobile-menu-sublist__elTitle {
    margin-left: 0px;
    padding-bottom: 62px;
    list-style-type: none;
}

.mobile-menu-sublist__el.active {
    margin-left: 62px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.arrowDonwBtn__mobileNav {
    margin-left: 47px;
}

.arrowDonwBtn__mobileNav.active {
    transform: rotate(90deg);
    margin-right: 47px;
}