@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.slide-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 64px;
    justify-content: center;
    height: 100%;
    justify-content: space-evenly;
    padding-bottom: 36px;
}

.slide-text__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 26.1818px;
    line-height: 32px;
    color: #FFFFFF;
}

.slide-text__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17.95px;
    line-height: 22px;
    color: #FFFFFF;
    max-width: 280px;
}

.slide-text__btn {
    background-color: rgba(0, 0, 0, 0);
    border: 1.17021px solid #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15.7628px;
    line-height: 19px;
    color: #FFFFFF;
    width: 273.83px;
    height: 55px;
    border-radius: 17px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.slide-text {
    width: max-content;
    position: absolute;
    top: 0;
    right: 0;
    height: 99.5%;
    width: 445px;
    background: linear-gradient(180deg, rgba(16, 44, 252, 0.56) 0%, rgba(124, 0, 255, 0.56) 100%);
}

.slide {
    max-width: max-content !important;
    position: relative;
}

/* .carousel-item {
    scale: 0.8;
    transition-delay: 0s;

    -ms-transition: all .4s ease-in-out;
} */
.slick-slide.slick-center {
    transform: scale(1.1);
    transition: all 1.5s ease-in;

}

.slick-slide {
    transform: scale(0.9);
    transition: all 1.2s ease-in;

}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 9999;
}

.slick-prev::before {
    background-image: url(../../img/slick_arrow.svg) !important;
    left: 227px !important;
    position: absolute !important;
    content: '.' !important;
    color: transparent !important;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}


.slick-next::before {
    background-image: url(../../img/slick_arrow.svg) !important;
    transform: rotate(180deg);
    right: 227px;
    position: absolute;
    content: '.' !important;
    color: transparent !important;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.slide_img {
    max-width: 1008px;
    max-height: 570px;
    min-width: 1008px;
    min-height: 570px;
}

@media all and (max-width: 1000px) {
    .slick-slide.slick-center {
        transform: unset;

    }

    .slick-slide {
        transform: unset;

    }

    .slide_img {
        width: 100%;
        min-width: unset;
        min-height: unset;
    }

    .slide-text {
        width: 100%;
    }

    .slide-text-wrapper {

        margin-left: 0px;
        align-items: center;
    }

    .slide-text__text {
        max-width: 444px;
    }

    .slick-prev::before {
        left: 70px !important;
    }


    .slick-next::before {
        right: 70px;
    }
}

@media all and (max-width: 530px) {
    .slide-text__btn {
        width: 186.83px;
        height: 39px;
        border-radius: 17px;
        min-height: 55px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 11.4213px;
        line-height: 14px;
        color: #FFFFFF;
    }

    .slide-text__text {
        padding-left: 20px;
        padding-right: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 13.5102px;
        line-height: 16px;
        color: #FFFFFF;
    }

    .slide-text__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 26.1818px;
        line-height: 32px;
        color: #FFFFFF;
    }

    .slide-text__text {
        max-width: 355px;
    }

    .slick-prev::before {
        left: 54px !important;
    }

    .slick-next::before {

        right: 54px;
    }


}

@media all and (max-width: 470px) {
    .slide-text__btn {
        width: 138.83px;
        height: 23px;
        min-height: 40px;
    }

    .slide-text__btn {
        margin-top: 16px;
    }
}