@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.slide-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 64px;
    justify-content: center;
    height: 100%;
    justify-content: space-evenly;
    padding-bottom: 36px;
}

.slide-text__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 26.1818px;
    line-height: 32px;
    color: #FFFFFF;
}

.slide-text__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17.95px;
    line-height: 22px;
    color: #FFFFFF;
    max-width: 280px;
}

.slide-text__btn {
    background-color: rgba(0, 0, 0, 0);
    border: 1.17021px solid #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15.7628px;
    line-height: 19px;
    color: #FFFFFF;
    width: 273.83px;
    height: 55px;
    border-radius: 17px;
}

.slide-text {
    width: max-content;
    position: absolute;
    top: 0;
    right: 0;
    height: 99.5%;
    width: 445px;
    background: linear-gradient(180deg, rgba(16, 44, 252, 0.56) 0%, rgba(124, 0, 255, 0.56) 100%);
}
.slide {
    max-width: max-content!important;
    position: relative;
}

/* .carousel-item {
    scale: 0.8;
    transition-delay: 0s;

    -ms-transition: all .4s ease-in-out;
} */
.carousel-item.active .slide-container{
    transform: scale(1.1);
    z-index: 9!IMPORTANT;
    transition-delay: 0s;
    transition: all .5s ease-in-out;

}
.carousel-item .slide-container{
    transform: scale(0.9);
    z-index: 9!IMPORTANT;
    transition-delay: 0s;
    transition: all .5s ease-in-out;

}

.carousel-prev::before {
background-image: url(../../img/slick_arrow.svg)!important;
left: 227px;
position: absolute;
}
.carousel-next::before {
    background-image: url(../../img/slick_arrow.svg)!important;
transform: rotate(180deg);
right: 227px;
position: absolute;
    }

.slide_img {
    max-width: 1008px;
    max-height: 570px;
}