.form-reception-wrapper {
    width: 444px;
    height: 601px;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
   }
   .form-reception-block__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    color: #000000;
   }
   .form-reception-block__input {
    background: #FFFFFF;
    box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #C2C2C2;
    width: 328px;
    height: 55px;
    padding-left: 37px;
    margin-bottom: 27px;
   }
   .form-reception-block__teaxtArea {
    width: 328px;
    height: 151px;
    background: #FFFFFF;
    box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #C2C2C2;
    padding-left: 37px;
padding-top: 24px;
margin-bottom: 27px;
   }
   .form-reception-block__btn {
    width: 244px;
    height: 60px;
    background: #102CFC;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
   }
   .form-reception-block-contant {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 61px;
   }
   .reception-block-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    margin: 0 auto;
    max-width: 1008px;
   }
   .form-reception-block__btnWrapper {
       width: 100%;
       display: flex;
       justify-content: center;
       margin-left: -27px;

   }

   .reception-block-question {
    display: flex;
    flex-direction: column;
    text-align: left;
   }
   .reception-block-question__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 44px;
   }
   .reception-block-question__subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 54px;
   }
   .question__wrapper-card {
    width: 444px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-bottom: 37px;
   }
   .question__text {
    padding: 50px;
    display: flex;
    flex-direction: column;
   }
   .question__spanName {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
   }
   .question__spanDate {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    color: #000000;

   }
   .question__textQuestion {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
   }
  .question__text-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
   }
   .reception-block-question {
    max-height: 748px;
    overflow-y: scroll;
    padding-left: 25px;
   }
   